.portfolio-nav {
    width: 100%;
    height: 40px;

    position: fixed;
    bottom: 0;
}

html {
    font-size: 12px;
    font-family: 'Raleway';
}

a:hover {
    text-decoration: none;
}

body {
    margin: 0;
    min-width: 1100px;
}

header,
header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

header {
    color: white;
    height: 740px;
    padding-bottom: 90px;

    background-image: url('img/header_bg.png');
    background-size: 115%;
}

nav {
    display: flex;
    justify-content: space-between;

    align-self: stretch;

    margin: 0 20px;
    border-bottom: 1px solid grey;
    padding: 0 156px;
}

nav img {
    align-self: center;
}

nav li {
    list-style-type: none;
}

nav ul {
    display: flex;

    padding-left: 0;
    margin-bottom: 0;
}

nav > ul {
    padding-top: 40px;
}

.nav-but > li > * {
    color: inherit;
    font-size: 1.25rem;
    white-space: nowrap;
    padding: 40px 23px;
}

.nav-but > li:last-child > *,
.social li:last-child a,
.figure-container:last-child {
    padding-right: 0;
}

.nav-but > li:first-child > *,
.social li:first-child a,
.figure-container:first-child {
    padding-left: 0;
}

.nav-but > li > ul {
    padding-top: 0;
}

.social a {
    padding: 11px;
}

.social img {
    height: 14px;
}

.nav-logo {
    width: 64px;
    margin-top: -8px;
}

h1 {
    font-size: 11.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.blue-big-p {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.74em;
    color: #11749e;
}

.header-h {
    margin-top: 100px;
}

.scroll-down {
    width: 56px;
}

section {
    padding: 60px 165px 36px;
}

.blue-section {
    background-color: #11749e;
    color: white;
}

.section-h {
    position: relative;
    margin: 6rem 0;
}

.section-h h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
}

.section-h::before {
    content: 'W';
    font-size: 15rem;
    font-weight: bold;
    text-align: center;
    opacity: .18;
    width: 100%;
    line-height: 15rem;

    position: absolute;
    left: 0;
    top: calc(-7.5rem + 50%);
}

.figure-container {
    display: flex;
    justify-content: space-between;

    margin-top: 100px;
    width: 100%;
}

figure {
    text-align: center;
    padding: 16px;
    margin-bottom: 0;
}

figcaption {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 1.3rem;
    margin: 10px 0 18px;
}

.description-p {
    font-size: 1.2rem;
}

.feature-picture {
    width: 114px;
}

.block {
    padding: 80px 86px;
}

.block-section {
    padding: 0;
}

.padding-left {
    padding-left: 180px;
}

.padding-right {
    padding-right: 180px;
}

.white-block p {
    color: #222;
}

.grey-block {
    background-color: #222;
    color: white;
}

h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.block-group {
    display: flex;
}

.block-w50 > .block {
    width: 50%;
}

.bg-1 {
    background-image: url('img/img_block1.jpg');
}

.bg-2 {
    background-image: url('img/img_block2.jpg');
}