html {
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

body {
    margin: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url('img/header_bg.png');
}

nav {
    display: flex;
    justify-content: space-between;

    align-self: stretch;

    margin: 35px;
    border-bottom: 1px solid grey;
    padding: 0 250px;
}